/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}

body {
	font-family: montserrat, arial, verdana;
	margin:0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary
{
	display:block
}

a{
	background-color:transparent;
}
a:active,a:hover{
	outline:0;
}


h1{
	font-size:2em;
	margin:0.67em 0;
}

li{
	list-style-type: none;
}
/* HEADER */
.wrap{
	max-width:960px;
	padding-left:10px;
	padding-right:10px;
	margin-left:auto;
	margin-right:auto;
	
}

.header{
	background:url('../img/texture.png');
	position: absolute;
	z-index: 10;
	width: 100%;
}

@media (min-width: 620px){
	.header .wrap{
		width:100%;
		display:table;
	}
	.header header,
	.header nav{
		display:table-cell;
		vertical-align:middle;
	}
}

.logo{
	margin:0;
}
.main-nav{
	display:none;padding-left:0;
	list-style:none;
	margin:0 -10px;
	background:#191919;
}
@media (min-width: 620px){

	.main-nav{
		background:none;
		display:block;
		text-align:right;
		margin:0;
	}
	.main-nav li{
		display:inline-block;
	}

	.main-nav li.button-inscription{
		background: #89b8e2;
		width: 120px;
		height: 50px;
		text-align: center;
	}
}

.main-nav.is-collapse{
	display:block
}
.main-nav a{
	display:block;
	padding:1em;
	color:white;
	text-align:center;
	text-decoration:none;
	transition:all 0.3s ease-in-out;
}
.main-nav a:hover,
.main-nav a:focus{
	background:#09f;
	color:#FFF;
}
.main-nav a.active{
	color:#FFF;
}

#btn-nav{
	position:absolute;
	right:0;
	top:0;
	height:87px;
	line-height:87px;
	padding:0 1.5em;
	border:none;
	background-color:#09f;
	color:#FFF;
	text-transform:uppercase;
	transition:all 0.3s ease-in-out;
}
#btn-nav:hover{
	background:#006bb3;
}
@media (min-width: 620px){
	#btn-nav{
		display:none;
	}
}
.wrap{
	max-width:960px;
	padding-left:10px;
	padding-right:10px;
	margin-left:auto;
	margin-right:auto;

}


/* BACKGROUND */

@media(min-width:992px){
	.center_content {
		display: flex;
		flex-direction: row;
	}

	.center_content > [class^=col-],
	.center_content > [class*= col-] {
		display: flex;
		align-items: center;
		justify-content: center; 
	}

	.first_container{
		min-height: 100vh;
	}

	.second_container{
		min-height: 100vh;
	}

	.third_container{
		min-height: 130vh;
	}

	.four_container{
		min-height: 80vh;
	}

	.five_container{
		min-height: 780px;
	}

	.six_container{
		min-height: 60vh;
	}

	.seven_container{
		min-height: 40vh;
	}

	.footer_container{
		min-height: 40vh;
	}
	
	.account_container{
		min-height: 200vh;
	}
	.securite_first_container{
		min-height: 100vh;
	} 
	
	.securite_second_container{
		min-height: 30vh;
	} 

	.securite_third_container{
		min-height:100vh;
	}
	.bloc{
		text-align: center;
		padding-top:25%;
	}

	.mentions_container{
		min-height: 50vh;
	}
}

@media(max-width:992px){
	.first_container{
		min-height: 100vh;
	}

	.second_container{
		min-height: 100vh;
	}

	.third_container{
		min-height: 130vh;
	}

	.four_container{
		min-height: 100vh;
	}

	.five_container{
		min-height: 100vh;
	}

	.six_container{
		min-height: 60vh;
	}

	.seven_container{
		min-height: 60vh;
	}
	
	.footer_container{
		min-height: 60vh;
	}
	
	.account_container{
		min-height: 200vh;
	}
	
	.securite_first_container{
		min-height: 100vh;
	} 
	
	.securite_second_container{
		min-height: 30vh;
	} 
	
	.securite_third_container{
		min-height: 100vh;
	}
	.bloc{
		text-align: center;
		padding-top:10%;
	}

	.mentions_container{
		min-height: 50vh;
	}

	.img-responsive{
		margin-top: 10%;
		margin-bottom: 10%;
	}

}

.first_container{
	background: url(../img/background1.png) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.second_container{
	background: url(../img/background2.png) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 980px;*/
	/*max-height: 980px;*/
}

.third_container{
	background: url(../img/background3.png) no-repeat bottom fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 970px;*/
}

.four_container{
	background: #88b9e4; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 970px;*/
}

.five_container{
	background: url(../img/background4.png) no-repeat bottom fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 970px;*/
}

.six_container{
	background:  white;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 970px;*/
}

.seven_container{
	background:  #1b1b1b;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 970px;*/
}

.footer_container{
	background:  #1b1b1b;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 970px;*/
}

.account_container{
	background: url(../img/background-account.png) no-repeat bottom fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	/*min-height: 970px;*/
}

.securite_first_container{
	background: url(../img/background-secur.png) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.securite_second_container{
	background: #FFF; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
} 

.securite_third_container{
	background: #b4d7f1;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

.mentions_container{
	background: #fff;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
}

/* FIRST */

.first_container button{
	background-color:#88b9e5;
	color:#FFF;
	border:none;
	width:250px;
	height: 50px;
	display: block;
	margin: auto;
}

.first_container h2{
	color:#FFF;
	font-size: 2.6em;
	font-family: 'Lato', sans-serif!important;
	padding: 30% 0 0; 
	text-align: center;
	font-weight: bold;
}

.first_container p{
	color:#FFF;
	font-size: 2em;
	font-family: 'Lato', sans-serif!important;
	font-weight: 300;
	padding: 0;
	text-align: center;
}

span{
	font-weight: bold;
	color: #88b9e5;
}

.first_container a{
	color: white;
	font-size: 1.5em;
	text-decoration: none; 
	font-weight: bold;
}


.first_container a:hover{
	
	color:#6a6a68;
	text-decoration: none;
}


/*SECOND*/

.second_container .box__black{
	background: rgba(0, 0, 0, 0.8);
	width: 85%;
	height: auto;
	padding: 15px 15px 50px 15px;
	margin-top:15%;
	border-bottom: 5px solid #88b9e5;
}
.second_container button{
	
	background-color:#88b9e5;
	color:#FFF;
	border:none;
	width:250px;
	height: 50px;
	margin:5% 0 0 49%;

}

.second_container h2{
	color:#83b8ea;
	font-size: 2.4em;
	font-family: 'Lato', sans-serif!important;
	font-weight: bold;
	
}

.second_container p{
	color:#FFF;
	font-size: 1.1em;
	font-family: 'Lato', sans-serif!important;
	font-weight: 300;
	
	line-height: 1.3em;
	text-align:justify;

}



.second_container a{
	color: white;
	font-size: 1.5em;
	text-decoration: none; 
	font-weight: bold;
}


.second_container a:hover{
	
	color:#4d4c4a;
}

/* THIRD */

.third_container .box__black{
	background: rgba(0, 0, 0, 0.8);
	width: 75%;
	height: auto;
	padding:15px 30px 50px 30px;
	margin:20% 0 0 12%;
	border-bottom: 5px solid #88b9e5;
	border-top: 5px solid #88b9e5;
}

.third_container h2{
	color:#88b9e5;
	font-size: 2.3em;
	font-family: 'Lato', sans-serif!important;
	padding: 0;
	font-weight: bold;
}


.third_container li h3 {
	color:#88b9e5;
	font-size:1.5em;
	text-transform: uppercase;
}


.third_container li p{
	font-size: 1.3em;
	line-height: 1.2em;
	color: white;

}


/* FOUR */

.four_container h2{
	text-align: center;
	color:white;
	font-size: 3em;
	font-family: 'Lato', sans-serif!important;
	padding: 5% 0 5% 0;
	font-weight: bold;
}


.four_container .box-chiffres{
	width:100%;
	text-align: center;
}

.four_container .box-chiffres h3{
	font-size: 2em;
	color: white;
	font-weight: 300;
}

.four_container .box-chiffres p{
	font-size: 1.4em;
	line-height: 28px;
	color: white;
	font-weight: 300;
}


/* FIVE */
/* slider */


#wrapper{
	width:600px;
	margin:50px auto;
	height:400px;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
}
#wrapper h2{

	text-align: center;
}
#slider-wrap{
	width:600px;
	height:400px;
	position:relative;
	overflow:hidden;
	margin-top:15%;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;
	
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:600px;
	height:400px;
	background: rgba(0, 0, 0, 0.8);	

}

#slider-wrap ul#slider li > div{
	position:absolute;
	text-align: center;
	margin:15%;	
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;	
}

#slider-wrap ul#slider li > div p{
	font-family: Neucha, Arial, sans serif;
	font-size:16px;
	padding-top: 20px;
}

#slider-wrap ul#slider li i{
	text-align:center;
	line-height:400px;
	display:block;
	width:100%;
	font-size:90px;	
}


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.1);
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.3);	
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
	top:0;


}

#pagination-wrap ul li.active{
	width:12px;
	height:12px;
	top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}


/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}



/* SIX */

.six_container h2{
	text-align: center;
	font-size: 3em;
	font-family: 'Lato', sans-serif!important;
	padding-top: 5%;
	padding-bottom: 2%;
	color:#88b9e5;
}

.six_container p{
	text-align: center;
	color:black;
	font-size: 1.3em;
	
}
.six_container form{
	text-align: center;
	margin: 5%;

}
.six_container form input{
	border-top:2px solid #88b9e5 ;
	border-bottom:2px solid #88b9e5 ;
	border-left:2px solid #88b9e5 ;
	border-right:5px solid #88b9e5 ;
	width: 150px;
	height: 50px;
	padding:19px;
	margin-left: 5px;
}

::-webkit-input-placeholder {
	color: black;
}

:-moz-placeholder { /* Firefox 18- */
	color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: black;  
}

:-ms-input-placeholder {  
	color: black;  
}

form [type="email"] {
	width: 250px!important;
}

form [type="email"]:hover,
form [type="email"]:focus {
	background: rgba(255,255,255, .85);
}

form [type="submit"] {

	background: #3f81b1 url('../img/next.png') center no-repeat;
	border:none!important;
	width: 100px!important;
	color: white;
}


/* SEVEN - FOOTER*/

ul {
	padding: 0;
}

footer{
	width:100%;
	margin: 0 auto;
	background-color: #1b1b1b;
}
/* close commented backslash hack */

.grid-3 {
	width: 13%;
	float: left;
	min-height: 1px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.grid-3- {
	width: 15%;
	float: left;
	min-height: 1px;

	position: relative;
}


.grid-3-:last-child {

	left:24%;
}
.footer-logo{
	margin-right:5%;
}
.footer-wrapper {
	padding:5% 0;
}

.footer-text {
	color: #dcdcdc;
	font-size: 14px;
	margin: 40px 0 0;
}

.footer-heading a{
	color: #e1e1e1;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	
}
.footer-heading-- a{
	color: #e1e1e1;
	font-size: 12px;

	
}
.footer-heading-- a:hover{
	color:#88b9e5;
	cursor: pointer;
	text-decoration: none;
}
p.footer-heading{
	text-align: center;
}

p.footer-heading--{
	text-align: center;
}

.footer-wrapper ul.footermenu,.footer-contact,.footerblog {
	margin-top: 32px;
}

.footermenu > li {
	line-height: 25px;
}

.footer-wrapper ul.footermenu li a::before {
	content: "-";
	margin: 0 5px 0 0;
}

.footermenu li a {
	color: #dcdcdc;
	font-size: 14px;
	line-height: 34px;
	text-transform: capitalize;
}

.footer-contact li i {
	font-size: 14px;
	margin: 0 8px 0 0;
	color: #fff;
}

.footer-contact li span {
	color: #fff;
	font-size: 14px;
}
.icons {
	text-align: center;
}
.icons a{
	display: inline-block;
}

.footer-contact li,.footer-contact li a {
	color: #c7c7c7;
	font-size:12px;
	font-family: Arial, sans-serif;
	letter-spacing: 1.2px;
	text-align: center;
}

.footerblog li,.footerblog li a {
	color: #b4b4b4;
	font-size:11px;
	font-family: Arial, sans-serif;
	letter-spacing: 1.2px;
	padding-bottom: 10px;
}

.footerblog li p {
	color: #c7c7c7;
	font-size:11px;
	font-family: Arial, sans-serif;
}

footer a:hover {
	color: #88b9e5;
	text-decoration: none;
	cursor: pointer;
}

@media (max-width:980px) {
	.layout {
		width: 767px;
	}

	.grid-3 {
		width: 50%;
	}
	
	.grid-3- {
		width: 50%;
	}

	.footer-heading {
		margin-top: 18px;
	}
}

@media (max-width:640px) {
	.layout {
		width: 300px;
	}

	.grid-3 {
		width: 100%;
	}
	
	.grid-3- {
		width: 100%;
		margin:0!important;
		left: 0!important;
	}
	.footermenu > li {
		display: inline-block;
		float: none;
		line-height: 25px;
	}
}



/* ACCOUNT */

.account_container h2
{
	text-align: center;
	font-size: 2em;
	margin-top:10%;
}

.account_container p{
	font-size:1.2em;
	text-align: center;

}


/*TUNNEL D'INSCRIPTION*/

/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);



/*form styles*/
#msform {
	width: 959px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
#msform [type="checkbox"]{
	width:50px;
}
#msform select{
	background: #FFF;
	border: #88b9e5 solid 1px;
	color: #fff;
	height: 35px;
	max-width: 230px;
	margin-bottom: 20px;
	width: 100%;
	color: #e4e3e3;
}

/*buttons*/
#msform .action-button {
	width: 200px;
	background: #88b9e5;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #88b9e5;
	
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;

	font-size: 12px;
	width: 25%;
	float: left;
	position: relative;
	color: #000;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 50px;
	height: 50px;
	line-height: 45px;
	display: block;
	font-size: 25px;
	color: #333;
	background: white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
	color: red;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
	color: silver;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #87b9e5;
	color: white;
	font-weight: bold;
}



/*FIN DU TUNNEL D'INSCRIPTION*/


/* Sécurité  */

/***** Sécurité FIRST  *****/
.securite_first_container button {
	
	background-color:#88b9e5;
	border:none;
	width:350px;
	height: 50px;
	margin: 3% auto;
	display:block;
}

.securite_first_container button a{
	color:#fff;
	font-family: 'Lato', sans-serif!important;
	font-size:14px;
	font-weight:bold;
}
.securite_first_container h2{
	color:#FFF;
	font-size: 2.6em;
	font-family: 'Lato', sans-serif!important;
	padding: 20% 0 0; 
	text-align: center;
	font-weight: bold;
}

.securite_first_container p{
	color:#FFF;
	font-size: 2.6em;
	font-family: 'Lato', sans-serif!important;

	text-align: center;
	font-weight:bold;
}
.securite_container span{
	color: #88b9e5;
	font-weight:bold;
}

/***** Sécurité SECOND  *****/
.securite_second_container h3{
	color:#b4d7f1;
	font-size: 2.4em;
	padding:10% 0 0;
	font-family: 'Lato', sans-serif!important;
	text-align: center;
	font-weight: bold;

}

/***** Sécurité THIRD  *****/
.securite_third_container{
	padding:10%;
}
.securite_third_container span{
	color:#fff;
	font-size: 2em;
	font-family: 'Lato', sans-serif!important;
	text-align: center;
	font-weight: bold;


}

.securite_third_container p{
	color:#fff;
	font-size: 1.3em;
	line-height: 1.5em;
	font-family: 'Lato', sans-serif!important;
	text-align: justify;
	margin-left: 10px;



}